body, *{
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  font-size: 20px;

  /* color: */
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.header {
  text-align: center;
  font-weight:700;
  font-size: 40px;
  margin-bottom: 32px;
}

.wrapper-left-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-right-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-left{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #fff;
}

.wrapper-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 12px;
  padding-top: 12px;
  /* padding-bottom: 24px; */
}

.wrap-team{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 8px;
  padding-bottom: 8px;
}

.team-name {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 12px;
}

.border-left{
  border-left: 1px solid #000;
}

.wrap-team ul {
  list-style-type: none;
}

.wrap-team li {
  padding-top: 8px;
  padding-bottom: 8px;
}

button {
  width: 100px;
  height:50px;
}

.my-12 {
  margin-top:12px;
  margin-bottom: 12px;
}

.wrap-army {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #000;
  padding-bottom: 16px;
  padding-top: 16px;
}

.wrap-army:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.loading {
  width: 100%;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.wrap-score {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.score-title {
  font-size:32px;
  font-weight: 600;
  margin-right: 8;
}

.edit {
  margin-left: 16;
  cursor: pointer;
}

.edit-input {
  margin-bottom: 32px;
}

.wrap-button {
  display: flex;
}

.banner {
  width: 400px;
   height: 400px 
}